@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&family=Lato:wght@300;400&display=swap');

:root{
    
    /* Color pallete */

    --highlight1: #F0BC2B;
    --light1: #FDECE8;
    --dark1: #461406;
    
    --highlight2: #1ea7d4;
    --light2: #D0F0FB;
    --dark2: #02161C;

    --mid1: #F07B5B;
    --mid2: #44C5F0;
    --mid3: #4563D1;

    --shadow: #02161C55;
    
    /* Fonts */

    --lato: 'Lato', sans-serif;
    --karla: 'Karla', sans-serif;
    
    /* Config */

    --cardSh: 3px 3px 5px var(--shadow);

}   

*{margin: 0; padding: 0;}